[submodule "hugo/tech/themes/re-terminal"]
	path = hugo/tech/themes/re-terminal
	url = https://github.com/mirus-ua/hugo-theme-re-terminal.git
[submodule "hugo/evere5t/themes/binario"]
	path = hugo/evere5t/themes/binario
	url = https://github.com/vimux/binario
